/*Padding to body, stop navbar covering content*/
html
{
    padding-top: 15vh;
}
  
@media (max-width: 979px)
{
    body 
    {
      padding-top: 0px;
    }
}

.inputValue {
  color : black;
}

/*Increased the width of dropdown list items to button width and limits height*/
.dropdown-menu {
  max-height: 250px;
  overflow-y: auto;
  width:100%;
}

/*makes all the cards the same size*/
.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}
